#######################################################
## Rename it to `.env.local`, and fill your own keys ##
#######################################################

# WalletConnect
NEXT_PUBLIC_WALLET_CONNECT_PROJECT_ID=

# CoinMarketCap
COIN_MARKET_KEY=

# Contract
TEST_PRIVATE_KEY=
TEST_PRIVATE_KEY2=
SEPOLIA_RPC_URL=
ETHERSCAN_API_KEY=